# -*- indent-tabs-mode: t -*-
# vim: set noexpandtab:
[user]
	name = Michael Budde
	email = mbudde@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
[alias]
	st = status -sb
	di = diff
	dic = diff --cached
	wdi = diff --color-words
	co = checkout
	ci = commit
	br = branch
	h = help
	rb = rebase
	ri = rebase --interactive
	rt = remote
	pr = pull --rebase
	lg = log --stat --relative-date
	graph = log --graph --oneline --all --decorate
	pusht = !git push && git push --tags
	ppp = !git push || git pull && git push
	pprp = !git push || git pr && git push
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
[diff]
	renames = copies
[push]
	default = upstream
[rebase]
	autosquash = true
[fetch]
	prune = true
[color]
	ui = auto
[color "diff"]
	meta = yellow
[color "grep"]
	filename = magenta
[gui]
	fontui = -family \"Bitstream Vera Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8
	commitmsgwidth = 72
	wmstate = normal
	geometry = 1366x712+0+24 290 301
[url "git://git.gnome.org/"]
	insteadOf = gnome:
[url "git@github.com:"]
	insteadOf = github:
[github]
	user = mbudde
