# -*- indent-tabs-mode: t -*-
[user]
	name = Michael Budde
	email = mbudde@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status -sb
	di = diff
	dic = diff --cached
	wdi = diff --color-words
	co = checkout
	ci = commit
	br = branch
	h = help
	rb = rebase
	ri = rebase --interactive
	rt = remote
	pr = pull --rebase
	lg = log --stat --relative-date
	graph = log --graph --oneline --all --decorate
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
[diff]
	renames = copies
[push]
	default = matching
[rebase]
	autosquash = true
[color]
	diff = auto
	branch = auto
	status = auto
[color "diff"]
	meta = yellow
[gui]
	fontui = -family \"Bitstream Vera Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8
[url "git://git.gnome.org/"]
	insteadOf = gnome:
[url "git://github.com/"]
	insteadOf = github:
[url "git@github.com:"]
	insteadOf = githubp:
[url "ssh://michael@home.mbudde.dk:9998/opt/git/"]
	insteadOf = home:
[github]
	user = mbudde
